.vscode/*
*.mod
*.cfg
*.dat
*.png
*.dx
*.o
*.tiff
*.300
*.size
Makefile
btp_2fold
fermi_surface
kmesh_stress2
wanr2k
surface_kpath_spectral
surface_kpath_spectral_mpi
curvature_diff_effective
band.plt
cube
curvature.py
U1
cube_iter
matmul_test
matmul_test.f90
DOS-general.general
plot_DOS_colour.py
