.vscode/*
Makefile
parameters.mod
super_H_top.dat
super_H_bottom.dat
band_top_02.png
3D_surface_red.cfg
band_top.png
band.dat
band.png
btp_2fold
btp_2fold.dx
curvature_diff_effective
curvature_diff_effective.dx
curvature_diff.dat
curvature_diff.dx
curvature.dat
curvature.dx
curvature20.dat
curvature20.dx
curvature50.dat
curvature50.dx
eigenvalues.dx
eigenvalues20.dx
eigenvalues50.dx
fermi_surface
fermi_surface_normal.dx
fort.300
I_terminated.size
isocontour.cfg
kmesh_stress2
spectral.cfg
surface_kpath_spectral
surface_kpath_spectral.o
test.dx
Bulk.tiff
I_terminated.tiff
Te_terminated.tiff
super_H_top.dx
I_terminated.tiff
I_terminated.tiff
super_H_B0.dx
super_H_B06.dx
surface_kpath_spectral_mpi
surface_kpath_spectral_mpi.o
I_terminated.tiff
